.sprites {
  background: url(../../img/sprites.png); }

.sprites_bg {
  background: url(../../img/sprites_bg.png); }

/*
 * Background
 * */
.table-header-bg {
  background-position: -0px -0px;
  height: 27px;
  background-repeat: repeat-x; }

.sub-menu-bg {
  background-position: -0px -37px;
  height: 70px;
  background-repeat: repeat-x; }

/*
 * ICONS
 * */
.with-icon {
  padding-left: 32px; }

.paused-icon {
  background-position: -0px -117px;
  width: 19px;
  height: 23px; }

.tick-icon {
  background-position: -0px -150px;
  width: 31px;
  height: 26px; }

.dropDown-icon {
  background-position: -0px -186px;
  width: 23px;
  height: 22px; }

/*
 * Logo
 * */
.logo {
  background-position: -0px -218px;
  width: 122px;
  height: 40px; }
